<div class="row">
  <div class="col col-12">
    <p>
      <% if @product.avatar.attached? %>
        <img src="<%=(url_for(@product.avatar)) %>" class="img-fluid" alt="imagen del producto" />
      <% end %>
    </p>

    <p>
      <strong>Nombre:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Precio:</strong>
      <%= @product.price %>
    </p>

    <p>
      <strong>Stock:</strong>
      <%= @product.stock %>
    </p>

    <p>
      <strong>Minimo stock:</strong>
      <%= @product.min_stock %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @product.status %>
    </p>

    <p>
      <strong>Categoría:</strong>
      <%= @product.category_id %>
    </p>

    <%= link_to 'Editar', edit_product_path(@product), class: "btn btn-success" %> |
    <%= link_to 'Regresar', products_path, class: "btn btn-primary" %>

  </div>
</div>